* {
    font-family: Helvetica;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.navbar {
    background-color: #F1F3FF;
    width: 100%;
    height: 100px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    color: black!important;
}

.navbar-nav .nav-item {
    margin-right: 15px;
    display: flex;
    justify-content: center;
}

.navbar-collapse.show {
    background-color: #fff;
    z-index: 1000;
}

.align-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section.hero {
    width: 100%;
    background-color: #F1F3FF;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 504px;
}

.column-illustration-hero img {
    position: absolute;
    /* max-width: 100%; */
    /* height: auto; */
    margin-top: 133px;
    right: 0;
    background-color: #F1F3FF;
    margin-bottom: 0;
    /* display: flex; */
    /* z-index: -9999; */
}

.column-text-heading {
    margin-top: 140px;
    margin-bottom: 50px;
}

h1.hero-heading {
    margin-top: 200px;
    font-size: 36px;
}

.btn.btn-success {
    background-color: #5CB85F;
    /* margin-top: 20px; */
}

.row.row1 {
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
    width: 459;
}

h2 {
    margin-bottom: 100px;
}

.card {
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.testimonial {
    /*     display: flex;
    flex-direction: column; */
    align-items: center;
    /* Pusatkan elemen horizontal */
    justify-content: center;
    /* Pusatkan elemen vertikal */
    margin-bottom: 100px;
}

.testimonial h2 {
    text-align: center;
}

.testimonial .banner.ban1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card.ban1 {
    flex-direction: column;
    background-color: #0D28A6;
    border-radius: 15px;
    width: 1168px;
    height: 326px;
    color: white;
    display: flex;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 100px;
}

.card.ban1 h2 {
    font-weight: bold;
    font-size: 36px;
    margin: auto;
    max-width: 80%;
}

.card.ban1 p {
    font-size: 14px;
    margin: auto;
    max-width: 80%;
}

.row.row2 {
    width: 100%;
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    position: relative;
}

.qna-item {
    margin-bottom: 20px;
}

.qna-question {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    width: 668px;
    height: 56px;
}

.qna-answer {
    display: none;
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    width: 668px;
    height: 56px;
}

.row.row-cols-2 {
    margin-bottom: 30px;
}

.full-size-card {
    width: 100%;
    max-width: 600px;
    height: 300px;
    justify-content: center;
}

.gallery {
    background: #fff;
    position: relative;
}

.gallery-cell {
    height: 200px;
    margin-right: 5px;
    background: #F1F3FF;
    width: 619px;
    height: 270px;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    overflow-x: visible;
}


/* cell number */

.gallery-cell:before {
    display: flex;
    text-align: left;
    line-height: 70px;
    font-size: 80px;
    color: white;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    overflow-x: visible;
}

.gallery.p {
    font-size: 14px;
}

.sewamobil {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px !important;
}

.flickity-prev-next-button {
    top: auto;
    transform: none;
    width: 40px;
    height: 40px;
    border: 2px solid #333 !important;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
}

.flickity-prev-next-button.previous {
    position: absolute;
    left: calc(50% - 40px)!important;
    right: auto;
    border-radius: 30px;
    border-color: #c4c4c4!important;
    background: white;
    top: 350px;
}

.flickity-prev-next-button.previous:hover {
    background-color: #5CB85F;
    /* Warna hijau saat tombol dihover */
    border-color: #5CB85F;
    /* Warna border saat tombol dihover */
    color: white;
}

.flickity-prev-next-button.next {
    left: calc(50% + 20px);
    /* Pusatkan tombol "Next" dan berikan margin kanan */
    right: auto;
    top: 350px;
    border-color: #c4c4c4!important;
}

.flickity-prev-next-button.next:hover {
    background-color: #5CB85F;
    /* Warna hijau saat tombol dihover */
    border-color: #5CB85F;
    /* Warna border saat tombol dihover */
    color: white;
}


/* Gaya page dots */

.flickity-page-dots {
    bottom: -40px;
    /* Pindahkan page dots ke bawah */
    position: absolute;
    display: none;
}